@model IList<MovieCrud.Models.Movie>
<h2>Movies</h2>
<hr/>
<div>
<table class="table table-hover">
<thead>
<tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Year</th>
    <th scope="col"></th>
</tr>
</thead>   
@foreach (var m in Model){
<tr>
    <th scope="row">@m.Id</th>
    <td>@m.Name</td>
    <td>@m.Year</td>
    <td>
        <div>
        <a asp-action="detail" asp-controller="home" asp-route-id="@m.Id" class="btn btn-default">Detail</a>
        <a asp-action="update" asp-controller="home" asp-route-id="@m.Id" class="btn btn-primary">Update</a>
        <a asp-action="delete" asp-controller="home" asp-route-id="@m.Id" class="btn btn-danger">Delete</a>
     </div> </td>
</tr>
}
</table>
</div>
<a class="btn btn-danger" asp-controller="home" asp-action="create">Create new Movie</a>

